[bumpversion]
current_version = 1.1.0

[bumpversion:file:CITATION.cff]
search = version: "{current_version}"
replace = version: "{new_version}"

[bumpversion:file:.github/workflows/publish.yml]
search = .pdf {current_version} $ZENODO_ACCESS_TOKEN
replace = .pdf {new_version} $ZENODO_ACCESS_TOKEN
